<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/Site")
    @Styles.Render("~/Content/fontawesome/css/all.min.css")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    @if (HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString().Equals("Home"))
    {
        <div>
            <img style="width: 100%" src="~/Content/Images/headeraf.jpg" />
        </div>
    }
    else
    {

    }
    @Html.Partial("MenuPartial")
        <div style="margin: 20px;">
            <div class="container body-content">
                @RenderBody()
            </div>
        </div>
    <footer class="container-fluid">
        <div class="row">
            <div class="col-sm-3" style="text-align:center;">
                <h3 style="padding: 5px; font-size: 16px; font-weight: 700; color: #222222;" class="h3-footer">CONTACT</h3>

                <div class="textwidget" id="footer-contact-blok">
                    <table class="hip-contact" style="width: 100%; ">
                        <h5 style="font-weight: 700; padding-top: 5px;">Hoofdkantoor</h5>
                        <tbody style="">
                            <tr>
                                <th></th>
                            </tr>
                            <tr>
                                <td><i class="fas fa-home"></i>  H.J.van Heekplein 60b </td>
                            </tr>
                            <tr>
                                <td>7553VZ Amsterdam</td>
                            </tr>
                            <tr>
                                <td><i class="fas fa-phone"></i> 053-4325743</td>
                            </tr>
                            <tr>
                                <td><i class="fas fa-envelope"></i>  Flowerpower@info.nl</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-sm-3">
                <h3 style="padding: 5px; font-size: 16px; font-weight: 700; color: #222222; text-align: center;" class="h3-footer">OPENINGSTIJDEN</h3>
                <div class="textwidget" style="padding-left: 50px;">
                    <table class="hip-contact" style="width: 100%; ">
                        <tbody>

                           
                           
                            <tr>
                                <td>Maandag</td>
                                <td>09:00 – 18:00</td>
                            </tr>
                            <tr>
                                <td>Dinsdag</td>
                                <td>09:00 – 18:00</td>
                            </tr>
                            <tr>
                                <td>Woensdag</td>
                                <td>09:00 – 18:00</td>
                            </tr>
                            <tr>
                                <td>Donderdag</td>
                                <td>09:00 – 18:00</td>
                            </tr>
                            <tr>
                                <td>Vrijdag</td>
                                <td>09:00 – 18:00</td>
                            </tr>
                            <tr>
                                <td>Zaterdag</td>
                                <td>09:00 – 18:00</td>
                            </tr>
                            <tr>
                                <td>Zondag</td>
                                <td>Gesloten</td>
                            </tr>


                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-sm-3" style="text-align:center;">
                <h3 style="padding: 5px; font-size: 16px; font-weight: 700; color: #222222;" class="h3-footer">LINKS</h3>
            </div>

            <div class="col-sm-3" style="text-align:center;">
                <h3 style="padding: 5px;font-size: 16px; font-weight: 700; color: #222222;" class="h3-footer">VOLG ONS VIA:</h3>
                <i style="font-size: xx-large; color: #000;" class="fab fa-facebook-square"></i>
                <i style="font-size: xx-large; color: #000;" class="fab fa-twitter-square"></i>
                <i style="font-size: xx-large; color: #000;" class="fab fa-tripadvisor"></i>
            </div>
        </div>
        <center> <p class="text-nowrap" style="color: #f5f5f0;">&copy; Copyright  @DateTime.Now.Year  FlowerPower</p></center>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>