@model Flowerpower.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Verander je wachtwoord</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
        
    </dl>
    <div class="col-sm-offset-8">
        <h4> Verander hier uw NAW gegevens</h4>
        
            

            <a href="@Url.Action("Edit","klantsgegevens", new { id = Model.klant.klantid })">
                <button type="button" class="btn btn-warning">Bewerk NAW gegevens</button>
            </a>
        
    </div>

</div>
