@model IEnumerable<Flowerpower.Models.winkel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    <a href="@Url.Action("Create")"><button type="button" class="btn btn-success">Nieuw</button></a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.winkelnaam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.winkelstraatnaam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.winkelpostcode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.winkelstad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.winkeltelefoonnummer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.winkelmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.winkelactief)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.winkelnaam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.winkelstraatnaam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.winkelpostcode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.winkelstad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.winkeltelefoonnummer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.winkelmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.winkelactief)
        </td>
        <td>
            <a href="@Url.Action("Edit", new { id = item.winkelcode })">
                <button type="button" class="btn btn-warning">Edit</button>
            </a>

        </td>
    </tr>
}

</table>
