@model Flowerpower.Models.medewerkers

@{
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>medewerkers</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.medewerkernaam)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.medewerkernaam)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.medewerkerachternaam)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.medewerkerachternaam)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.winkel.winkelnaam)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.winkel.winkelnaam)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.medewerkerid }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
