@model IEnumerable<Flowerpower.Models.medewerkers>

@{
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.medewerkernaam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.medewerkerachternaam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.winkel.winkelnaam)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.medewerkernaam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.medewerkerachternaam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.winkel.winkelnaam)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit","KlantBestelling", new { id=item.medewerkerid }) |
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
