@model IEnumerable<Flowerpower.Models.producten>

@{
    ViewBag.Title = "Index";
}

@*<div class="navbar-header pull-left">
    <a class="navbar-brand" href="@Url.Action("Index", "Home")">
        <img src="~/Content/Images/loogo.png" alt="Site Logo" id="site-logo" class="img-responsive" />
    </a>
</div>*@

<h2>Index</h2>

<p>
    <a href="@Url.Action("Create")"><button type="button" class="btn btn-success">Nieuw</button></a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.productnaam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.prijs)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.productomschrijving)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gearchiveerd)
        </th>
        <th></th>
    </tr>


@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.productnaam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.prijs)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.productomschrijving)
        </td>
        <td>
            @Html.EditorFor(modelItem => item.gearchiveerd)
        </td>
        <td>
            <a href="@Url.Action("Edit", new { id = item.productid })">
                <button type="button" class="btn btn-warning">Edit</button>
            </a>


        </td>
    </tr>
}

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.productnaam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.prijs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.productomschrijving)
            </td>
            <td>
                @Html.EditorFor(modelItem => item.gearchiveerd)
            </td>
            <td>
                <a href="@Url.Action("Edit", new { id = item.productid })">
                    <button type="button" class="btn btn-warning">Edit</button>
                </a>

              
            </td>
        </tr>
    }

</table>
